# Copyright (c) 2026 Aria Rees & Clove Nytrix Doughmination Twilight
# Licensed under the MIT Licence.
# See LICENCE in the project root for full licence information.

# Node modules
node_modules
npm-debug.log
pnpm-lock.yaml

# Environment files
.env
.env.*
!.env.example

# Build output
dist

# Git
.git
.gitignore
.github

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Old files
.old

# Documentation
readme.md
README.md

# License
LICENCE
LICENSE

# Data
data/