# Copyright (c) 2026 Aria Rees & Clove Nytrix Doughmination Twilight
# Licensed under the MIT Licence.
# See LICENCE in the project root for full licence information.

dist
node_modules
.env
pnpm-lock.yaml
package-lock.json
logs/
.logs/
DS_Store
