# Copyright (c) 2026 Girls Network
# Licensed under the GN-NCSL-1.1 Licence.
# See LICENCE in the project root for full licence information.

dist
node_modules
.env
pnpm-lock.yaml
package-lock.json
logs/
.logs/
DS_Store
